@charset "UTF-8";

/* Light theme color */
$light-background: #fff;
$light-background-secondary: #eaeaea;
$light-background-header: #fafafa;
$light-color: #222;
$light-color-variant: black;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;
$light-table-color: #dcdcdc;

/* Dark theme colors */
/* Catppuccin Macchiato theme colors */
$dark-background: #24273a; /* Base (base00) */
$dark-background-secondary: #1e2030; /* Mantle (base01) */
$dark-background-header: #363a4f; /* Surface0 (base02) */
$dark-color: #cad3f5; /* Text (base05) */
$dark-color-variant: #f4dbd6; /* Rosewater (base06) */
$dark-color-secondary: #b7bdf8; /* Lavender (base07) */
$dark-border-color: #494d64; /* Surface1 (base03) */
$dark-table-color: #5b6078; /* Surface2 (base04) */

/* Additional colors from Catppuccin Macchiato not initially present in your scheme */
$dark-color-red: #ed8796; /* Red (base08) */
$dark-color-peach: #f5a97f; /* Peach (base09) */
$dark-color-yellow: #eed49f; /* Yellow (base0A) */
$dark-color-green: #a6da95; /* Green (base0B) */
$dark-color-teal: #8bd5ca; /* Teal (base0C) */
$dark-color-blue: #8aadf4; /* Blue (base0D) */
$dark-color-mauve: #c6a0f6; /* Mauve (base0E) */
$dark-color-flamingo: #f0c6c6; /* Flamingo (base0F) */

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;

