{{ define "main" }}
<main class="posts">
  <h1>{{ .Title }}</h1>

  <div id="posts-container">
    {{ $pages := where .Data.Pages "Params.tags" "intersect" (slice .Title) }}
    {{ $paginator := .Paginate $pages }}

    <ul class="posts-list">
      {{ range $paginator.Pages }}
      <li class="post-item" data-tags="{{  .Params.tags | jsonify }}">
        <a href="{{ .Permalink }}" class="post-item-inner">
          <span class="post-title">{{ .Title }}</span>
          <span class="post-date">{{ .Date.Format "January 2, 2006" }}</span>
        </a>
      </li>
      {{ end }}
    </ul>

    {{ partial "pagination-list.html" . }}
  </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const urlParams = new URLSearchParams(window.location.search);
    let additionalTag = urlParams.get("tag");
    // Capitalize the first letter of each word
    function toTitleCase(str) {
      return str.replace(/\w\S*/g, function (txt) {
        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
      });
    }

    // Update the title with the capitalized query string tag if it exists
    if (additionalTag) {
      additionalTag = toTitleCase(additionalTag.replace(/-/g, " "));
      document.querySelector("h1").textContent += " & " + additionalTag;
    }

    // Convert the additionalTag to lowercase and hyphenated format
    if (additionalTag) {
      additionalTag = additionalTag.toLowerCase().replace(/\s+/g, "-");
      console.log(additionalTag);

      const posts = document.querySelectorAll(".post-item");

      posts.forEach((post) => {
        const tagsString = JSON.parse(post.getAttribute("data-tags"));

        // Convert tag string into a lowercase, hyphenated array of tags
        const tags = tagsString.map((tag) =>
          tag.trim().toLowerCase().replace(/\s+/g, "-")
        );

        console.log(tags);

        // If the additional tag is not in the post's tags, hide the post.
        if (!tags.includes(additionalTag)) {
          post.style.display = "none";
        }
      });
    }
  });
</script>
{{ end }}
