
<ul class="list">
  <% 
    const sortedItems = items.sort((a, b) => new Date(b.date) - new
    Date(a.date));
    const topItems = sortedItems.slice(0, 3);
    for (const post of topItems) { 
  %>
    <li>
      <time datetime="<%= post.date %>" style="float: right;">
        <%= new Date(post.date).toISOString().split('T')[0] %>
      </time>
      <a href="<%- post.path %>" class="listing-name" style="font-size: large;">
        <%= post.title %>
      </a>
    </li>
  <% } %>
</ul>
