{{ define "main" }} {{ $paginator := .Paginate .Data.Pages }}

<main class="posts">
  <h1>{{ .Title }}</h1>

  {{ if .Content }}
  <div class="content">{{ .Content }}</div>
  {{ end }}

  <!-- Group posts by year -->
  {{ range $paginator.Pages.GroupByDate "2006" }} {{ $year := .Key }}
  <div class="posts-year-group">
    <h2 class="year-header">{{ $year }}</h2>

    <!-- Group posts by month inside the yearly group -->
    {{ range .Pages.GroupByDate "January" }}
    <div class="posts-month-group">
      <h3 class="month-header">{{ .Key }}</h3>

      <ul class="posts-list">
        {{ range .Pages }}
        <li class="post-item">
          <a href="{{.Permalink}}" class="post-item-inner">
            <span class="post-title">{{.Title}}</span>
            <span class="post-day"> {{ partial "ordinalsuffix.html" . }} </span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
  {{ end }} {{ partial "pagination-list.html" . }}
</main>
{{ end }}
